.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  font-size: 48px;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 20%;
}

.sendImage {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f25138;
  padding: 5px;
  font-size: x-large;
  border: none;
  display: flex;
  justify-content: center;
  height: 50%;
  cursor: pointer;
}


.group {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.sendFile {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(172, 117, 243);
  padding: 5px;
  font-size: x-large;
  border: none;
  display: flex;
  justify-content: center;
  height: 50%;
  cursor: pointer;
}
